* { margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; color: inherit; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;
  background: #f8f8f8;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 9px 15px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0 2px 5px #00000026;
}

li.favorite .icon {
  color: gold;
}

.name {
  font-weight: bold;
}

.desc {
  font-size: 14px;
  color: #a4a4a4;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}