* { margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; color: inherit; }

#app {
    padding: 25px;

    .button-group {
        display: flex;
        gap: 10px;

        & .button {
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 5px;
        }
    }
}