* {margin: 0;padding: 0;}

.cards {display: grid;grid-template-columns: repeat(4, 1fr);gap: 10px;}
.card {border: 1px solid #dfdfdf;display: flex;flex-direction: column;gap: 10px;width: fit-content;align-items: center;padding: 10px;width: 200px;}
.button {padding: 5px 15px;border: 1px solid #dfdfdf;font-size: 14px;cursor: pointer;}
img {width: 100%;}

@media (max-width: 1023px) {
    .cards {grid-template-columns: 1fr 1fr;}
}

@media (max-width: 767px) {
    .cards {grid-template-columns: 1fr;}
}