* { margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; color: inherit; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
    background: #f8f8f8;
}

canvas {
    border: 2px solid #000;
    border-radius: 5px;
}

.group.horizontal {
    display: flex;
    gap: 10px;
}

button {
    padding: 5px 15px;
}