* {margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;color: inherit;}

body {display: flex;justify-content: center;align-items: center;height: 100vh;background: #252F39;}
.content-1 {position: relative;transform: translate(-50px, -50px);}
.content-2, .content-3, .content-4, .content-5  {position: absolute;width: 25px;height: 25px;background: red;border-radius: 25px;}
.content-2 {transform: translate(0, 0);background: #FFD1DC;animation: content-2 2s infinite;}
.content-3 {transform: translate(50px, 0);background: #C3E0E5;animation: content-3 2s infinite;}
.content-4 {transform: translate(50px, 50px);background: #E6DAF7;animation: content-4 2s infinite;}
.content-5 {transform: translate(0, 50px);background: #FFDAB9;animation: content-5 2s infinite;}
@keyframes content-2 {
    from {transform: translate(0, 0);}
    25% {transform: translate(50px, 0);}
    50% {transform: translate(50px, 50px);}
    75% {transform: translate(0, 50px);}
    to {transform: translate(0, 0);}
}
@keyframes content-3 {
    from {transform: translate(50px, 0);}
    25% {transform: translate(50px, 50px);}
    50% {transform: translate(0, 50px);}
    75% {transform: translate(0, 0);}
    to {transform: translate(50px, 0);}
}
@keyframes content-4 {
    from {transform: translate(50px, 50px);}
    25% {transform: translate(0, 50px);}
    50% {transform: translate(0, 0);}
    75% {transform: translate(50px, 0);}
    to {transform: translate(50px, 50px);}
}
@keyframes content-5 {
    from {transform: translate(0, 50px);}
    25% {transform: translate(0, 0);}
    50% {transform: translate(50px, 0);}
    75% {transform: translate(50px, 50px);}
    to {transform: translate(0, 50px);}
}